<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="sing">サインイン</h2>
    </div>
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="row">
      <div class="col-12 text-center">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "メールアドレス",class:"sing_text" %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password",placeholder: "パスワード",class:"sing_text" %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder: "確認用パスワード",class:"sing_text" %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <%= f.submit "サインイン", class:"sing btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>