<div class="container">
  <div class="row">
    <div class="col-12">
      <h1><%= @post.title %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-6 text-center">
      <p>総レス　<%= @post.responses.count %>　件</p>
    </div>
    <div class="col-6 text-center">
      <% @post.categories.each do |category| %>
        <%= category.name %>
      <% end %>
    </div>
  </div>
  <div class="thread-block">
    <div class="row">
      <div class="col-12">
        <%= @post.user.name %>
        <%= @post.created_at.to_s(:datetime_jp) %>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <%= @post.text %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= form_for(@response, url: post_responses_path(@post)) do |f| %>
        <h2>レスを書き込む</h2>
        <%= f.text_area :message, class:"form-control" %>
        <%= f.submit "投稿する",class:"btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <% @post.responses.each do |response| %>
    <div class="response-block">
      <div class="row">
        <div class="col-12 text-write">
          <%= response.created_at.to_s(:datetime_jp) %>
          <%= response.user.name %>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <%= response.message %>
        </div>
      </div>
    </div>
  <% end %>
</div>